<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/admin">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button routerLink="/cart" color="secondary">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-badge color="primary">{{cartItemCount.value}}</ion-badge>
      </ion-button>
    </ion-buttons>
    <ion-title>Pizza App</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-list>
      <ion-list-header>
        Nos Pizzas
      </ion-list-header>
      <ion-item *ngFor="let pizza of listPizza" >
        <ion-avatar slot="start" (click)="getDetails(pizza)">
          <img alt="{{pizza.nom}}" src="{{pizza.photo}}">
        </ion-avatar>
        <ion-label (click)="getDetails(pizza)">
          <h2>{{pizza.nom}}</h2>
          <h3>{{pizza.prix}}€</h3>
        </ion-label>
        <ion-button fill="clear" (click)="addToCart(pizza)">
          <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>


  </div>
</ion-content>
